.md-typeset h1 {
    font-size: 20px;
}

.doc {
    font-size: 14px;
}

tr {
    font-size: 16px;
}

summary {
    font-size: 16px;
}

strong {
    font-size: 23px;
}

.first.p {
    font-size: 24px;
}
